<!-- Main view/routes wrapper-->
<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-10">
    <h2>Clients list</h2>
    <ol class="breadcrumb">
      <li>
        <a href="index.html">Home</a>
      </li>
      <li>
        <a>E-commerce</a>
      </li>
      <li class="active">
        <strong>Product list</strong>
      </li>
    </ol>
  </div>
  <div class="col-lg-2">

  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">


  <div class="ibox-content m-b-sm border-bottom">
    <form class="form-edit" (submit)="onAddSubmit()">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="product_name">Name</label>
              <input type="text" id="product_name" [(ngModel)]="name" name="name" value="" placeholder="Name" class="form-control">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="price">Phone</label>
              <input type="text" id="price" [(ngModel)]="phone" name="phone" value="" placeholder="Phone" class="form-control">
            </div>
          </div>
          <div class="col-sm-2">
            <div class="form-group">
              <label class="control-label" for="quantity">Email</label>
              <input type="text" id="quantity" [(ngModel)]="email" name="email" value="" placeholder="Email" class="form-control">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label" for="status">Status</label>
              <select [(ngModel)]="status" name="status" id="status" class="form-control" placeholder="Status">
                <option value="1" selected>Enabled</option>
                <option value="0">Disabled</option>
              </select>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <button>Create client</button>
            </div>
          </div>
        </div>
      </form>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">

          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
            <tr>

              <th data-toggle="true">Name</th>
              <th data-hide="phone">Phone</th>
              <th data-hide="all">Email</th>
              <th data-hide="phone">Status</th>
              <th class="text-right" data-sort-ignore="true">Action</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let client of clients | async">
              <td>
                {{client.name}}
              </td>
              <td>
                {{client.phone}}
              </td>
              <td>
                {{client.email}}
              </td>
              <td>
                <span class="label label-primary">{{client.status}}</span>
              </td>
              <td class="text-right">
                <div class="btn-group">
                  <button class="btn-white btn btn-xs" [routerLink]="['/clients/'+client.$key]">View</button>
                  <button class="btn-white btn btn-xs" [routerLink]="['/clients/'+client.$key]">Edit</button>
                </div>
              </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6">
                <ul class="pagination pull-right"></ul>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>


</div>
<!-- End page wrapper-->
